language: php
php:
  - "5.6"
  - "7.2"
  - "7.3"

script: 
    - sed -e "s#@YOUR_PARTNER_ID@#$PARTNER_ID#g" -e "s#@YOUR_ADMIN_SECRET@#$ADMIN_SECRET#g" -e "s#@SERVICE_URL@#https://www.kaltura.com#g" tests/config.template.ini > tests/config.ini 
    - cd tests && php run.php
